// Color Variables
$color-white: #fffbfb;
$color-black: #1c1d1c;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dadada;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// grid variables
$grid-max-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font sizes
$font-size-default: 1.6rem;

// shadows
$box-shadow-1: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-2: 0 2rem 4rem rgba($color-black, .1);
$box-shadow-3: 0 2.5rem 4rem rgba($color-black, .5);

$button-shadow-hover: 0 1rem 2rem rgba($color-black,.2);
$button-shadow-active: 0 1rem 1rem rgba($color-black, .2);

$border-radius-1: 3px;