// Color Variables
$color-primary: #55c57a;
$color-primary--lighter: #7ed56f;
$color-primary--darker: #28b485;
$color-grey-dark: #777;
$color-white: #e9e9e9;
$color-black: #1c1d1c;
$color-grey-light-1: #f7f7f7;


// grid variables
$grid-max-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;